html {
  scroll-behavior: smooth;
}

.navbar {
  background-color: #1B1919 !important;
}

.navbar-nav {
  margin-right: 40px;
}

.nav-logo {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  text-align: left;
}

body {
  background-color: #1B1919;
}

.nav-item {
  color: #ffffff;
}

.nav-item:hover {
  color: #cc0808;
}


h1 {
  font-family: 'Candal', sans-serif;
  font-size: 8vmin;
}

.title {
  color: #a7a7a7;
}

.logo {
  max-width: 100%;
  height: auto;
  display: table;
  margin-right: 200px;
}

@keyframes animatedBackground {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 100% ;
  }
}
#animate-area {
  background-image: url(https://i.pinimg.com/originals/8c/e8/3b/8ce83b36bf3a65427144bcce7ec68065.jpg);
  background-position: 0% 0%;
  background-repeat: repeat-x;
  animation: animatedBackground 30s linear infinite alternate;
}

.main-raised {
  background: #0e0b0b;
}


.main-mod {
  margin: -60px 30px 0px;
  border-radius: 6px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.col-md-6{
	display: flex;
	align-items: center;
}

.phonenumber {
  list-style: none;
  color: #a7a7a7;
  word-spacing: 20px;
}

.card-title {
  color: #a7a7a7;
}

.form-control,
.is-focused .form-control {
  background-image: linear-gradient(to top, #8a0414 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
}

.btn.btn-primary {
	color: #ffff;
	background-color: #8a0414;
	border-color: #8a0414;
}

.btn.btn-primary:hover {
	color: #ffff;
	background-color: #bf0d23;
	border-color: #bf0d23;
}

.btn-primary:focus,
.btn-primary.focus {
  box-shadow: none, 0 0 0 0.2rem rgba(191, 13, 35, 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: #0000;
  border-color: #bf0d23;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #bf0d23;
  border-color: #bf0d23;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: none, 0 0 0 0.2rem rgba(191, 13, 35, 0.5);
}

#map {
  height: 800px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
}

.copyright {
  color: #a7a7a7;
}

